<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
 -->

 <div>

<h1>Question</h1>
<%= @query -%>


<h1>Answer</h1>
<%= @answer -%>

 </div>

<br>

<%= link_to "ask a new question", ask_path %>

